# Ignorer les data
/data
/data/**

# Ignorer les outputs
/outputs
/outputs/**

# (Optionnel) Ignorer les fichiers temporaires typiques dans notebooks
notebooks/.ipynb_checkpoints/
notebooks/__pycache__/


Dockerfile_tensorflow
